<%= form_for @message, html: {class: 'form-horizontal'} do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
            <%= alert %>
            <ul>
                <% @message.errors.full_messages.each do |full_message| %>
                <li>
                    <%= full_message %>
                </li>
                <% end %> 
            </ul>
        </div>
    <% end %>
    <div class="form_group">
        <label for="input_name" class="col-ms-2 control-label">名前:</label><br>
        <%= f.text_field :name, id: "inputname", class: "col-ms-10 form-fontrol", size: "23" %>
    </div>
    <div class="form_group">
        <label for="input_age" class="col-ms-2 control-label">年齢:</label><br>
        <%= f.text_field :age, id: "inputage", class: "col-ms-10 form-fontrol", size: "10" %>
    </div>
    <div class="form_group">
        <label for="input_main" class="col-ms-2 control-label">内容:</label>
        <%= f.text_area :body, id: "inputmain", class: "col-ms-10 form-control", size: "10x10" %>
    </div>
    <div class="form_group">
        <div class="conrainer-fluid">
        <%= f.submit "投稿", class: "btn btn-sm btn-primary" %>
        </div>
    </div>
<% end %>
