<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    body{
      width:100%;
      background-color:#f5f5dc;
    }
    
     .navbar {
      width:100%;
      padding:20px 15px;
      font-family: arial black;
    }
    
    .navbar-brand{
      font-size:40px;
    }
    
    .nav-pills {
      padding: 20px 0 20px 50px;
      font-size: 30px;
    }
    
    .panel {
      font-size: 20px;
    }
    
    .container {
      margin:20px 50px;
      padding:20px 0;
      font-size: 40px;
    }
    
    .label_name {
      margin:10px 0;
    }
    
    .form_group {
      font-size: 20px;
    }
    
    .field_with_errors #inputname {
      width:200px;
    }

    #inputmain {
      font-size: 20px;
    }

    .field_with_errors #inputage {
      width:100px;
    }
    
    .btn {
      width:100%;
      margin: 30px 0;
      margin-left:auto;
      font-size: 20px;
    }
    
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="container-fluid navbar-brand" href="https://techacademy-shoday10.c9users.io/">Message Board</a>
      </div>
    </div>
  </nav>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="https://techacademy-shoday10.c9users.io/">Messages</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
    </ul>
  <div class="container-fluid">
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>
